vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Feb 2019 03:59:12 -0000
vti_extenderversion:SR|12.0.0.6211
vti_author:SR|VICKY\\Administrator
vti_modifiedby:SR|VICKY\\Administrator
vti_timecreated:TR|21 Feb 2019 03:59:12 -0000
vti_cacheddtm:TX|21 Feb 2019 03:59:12 -0000
vti_filesize:IR|160
vti_backlinkinfo:VX|web-2019.2.21/leftcom.htm web-2019.2.21/leftpro.htm web-2019.2.21/leftcontact.htm web-2019.4.18/leftdow.htm web-2019.2.21/main_prd_connector.htm
